body {
    font-family: 'Poppins', sans-serif;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #2d2d2d; /* Dark gray background */
    color: #333; /* Light gray text color */
}

h1 {
    color: #1e90ff; /* Light blue color for the title */
}

form {
    margin-bottom: 20px;
    background-color: #3c3c3c; /* Slightly lighter gray for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    color: #e0e0e0;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

input, select {
    background-color: #4c4c4c; /* Darker gray for input fields */
    color: #e0e0e0;
}

button {
    background-color: #1e90ff; /* Light blue button */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1c86ee; /* Slightly darker blue on hover */
}

#meme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.meme-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #1e90ff; /* Light blue border for the meme */
    margin-top: 20px;
    border-radius: 8px;
}
